# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables
*.env

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# MacOS junk
.DS_Store
